$passport: #1e3b65;
$passport_shadow: rgba(100, 93, 36, 0.5);
$white: #fff;
$heart: #e4573b;
$body_background: #fbfaf3;
$body_text: #4d433e;
$gooooolllllld: #c4b326;
$green: #35ac2f;
$white_shade: rgba(255,255,255,0.75);

$font_family_headline: "Oleo Script", cursive;
$font_family_body: Georgia, serif;
$font_size_body: 14px;

$radius: 18px;
$tilt: -2deg;
$passport_scale_ratio: 0.5;

*{
	box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6{
	font-family: $font_family_headline;
	font-weight: normal;
	line-height: 1.4em;
}

body {
	font-size: $font_size_body;
	line-height: 1.35em;
	font-family: $font_family_body; 
	text-align: center;
	color: $body_text;
	background-color: $body_background;
}

/* passport guy. */
.passport{
	background-color: $passport;
	color: $gooooolllllld;
	width: 350px * $passport_scale_ratio;
	height: 425px * $passport_scale_ratio;
	padding: 20px * $passport_scale_ratio;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-transform: rotate($tilt);
	transform: rotate($tilt);
	box-shadow: 2px 2px 2px $white, 0px 0px 10px $passport_shadow;
	font-family: Helvetica, Arial, sans-serif;
	margin: 20px;
}

.passport .passport-title{
	font-size: 1.25em * $passport_scale_ratio;
	text-transform: uppercase;
}

.passport h2{
	color: $white;
	margin-top: 85px * $passport_scale_ratio;
	font-size: 4em * $passport_scale_ratio;
	position: relative;
	z-index: 1;
}

.passport a{
	color: $white;
}

.passport .heart{
	color: $heart;
	margin: 0 -27px * $passport_scale_ratio;
	position: relative;
	z-index: -1;
	width: 2em;
}

.passport .estrellas{
	font-size: 1.5em * $passport_scale_ratio;
	margin-top: 2em * $passport_scale_ratio;
}

.passport .gold{
	color: $gooooolllllld;
	text-transform: uppercase;
}

.passport .footer-thing-idk{
	margin-top: 6em * $passport_scale_ratio;
	font-size: 1em * $passport_scale_ratio;
}

.passport.swiped{
	background: none;
	border: 4px $body_text dashed;
	box-shadow: none;
	-moz-box-shadow: none;
}

.passport.swiped h2{
	color: transparent;
}

.passport.returned .passport-title em{
	font-size: 1.25em;
	display: block;
	margin-bottom: -1.25em;
}

/* ok basic page layout stuffs. */


.main{
	margin: 20px 20px 50px 235px;
	text-align: left;
	max-width: 60em;
	line-height: 1.4em;
}

.main p{
}

.main hr{
	margin: 2em auto;
	width: 80%;
}

.the-scoop{
	margin: 2em;
}

.byline{
	font-variant: small-caps;
}

.tips{
	background: $white_shade;
	padding: 1px 20px;
	border-top: 1px solid $body_text;
}

.tips ul{
	padding-left: 10px;
}

.tips li{
	margin-bottom: 5px;
}

a{
	color: $heart;
	text-decoration: none;
}

img, iframe{
	max-width: 100%;
}

figure{
	margin: 20px;
}

.up-too-high{
	float: left;
}

figcaption{
	font-style: italic;
	clear: both;
	padding-top: 0.5em;
}

.to-the-side{
	width: 225px;
}

.derecha{
	float: right;
	margin: 0 0 20px 20px;
}

.derecha figcaption{
	clear: none;
}

img.halfsie{
	float: left;
	max-width: 50%;
}

.es{
	font-style: italic;
}

.aeroplane{
	text-align: center;
	font-size: 1.5em;
	margin: 1.5em 0 2.5em;
}

.clear{
	clear: both;
}

.navigate-posts{
	list-style: none;
	padding: 0;
	margin-bottom: 4em;
	border-top: 1px solid $body_text;
}

.navigate-posts b{
	display: block;
	text-align: center
}

.navigate-posts a{
	color: $body_text;
	float: left;
	width: 50%;
	padding: 20px;
}

.navigate-posts a:hover{
	background-color: $white_shade;
}

.navigate-posts a h3{
	color: $heart;
	font-size: 1.25em;
}

.sans-next{
	margin-left: 50%;
}

.una-mas{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.group:after{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 480px) {

	.passport{
		margin: 20px auto;
	}

	.main{
		margin-left: 20px;
	}

	img.halfsie{
		float: none;
		max-width: 100%;
	}

	.navigate-posts a{
		float: none;
		width: 100%;
		display: block;
	}

	.navigate-posts .sans-next{
		margin-left: 0;
	}

}

@media screen and (min-width: 480px){

	.sidebar{
		width: 215px;
		position: absolute;
		left: 0;
		top: 0;
	}
	
}

@media screen and (min-width: 768px){
	.tips{
		float: right;
		width: 250px;
		margin: -20px 0 0 20px;
	}
}