/* basic elements */
body {
    background-color: #1360ac;
    background-image: url(../img/ferry-doodle.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Oleo Script", script;
}

a{
    text-decoration: none;
}

a, a:link, a:visited{
    color: #e78135;
}

a:hover, a:active{
    color: #779618;
}

h1{
    font-size: 4em;
    margin: 0;
    font-family: "Fredoka One", script;
    font-weight: normal;
}

.hearts, h1 b{
    color: #d73023;
}

h1 b{
    font-size: 1.5em;
    position: relative;
    top: 0.15em;
    font-weight: normal;
    z-index: -1;
}

h2{
    letter-spacing: -1px;
}

h2 b{
    color: #eeb649;
    font-style: italic;
}

h3{
    margin-top: 2em;
}

.announcement h1{
    text-shadow: 0px 0px 20px #105485;
}

.the-skinny, .more-to-come{
    color: #b1f480;
}

.more-to-come{
    font-size: 0.875em;
}

/* layout magic. */
.layout{
    text-align: center;
    min-width: 500px;
    margin: 10px auto;
    max-width: 672px;
}

.header.authed{
    text-align: left;
}

.authed h4{
    float: left;
}

.authed .nav{
    float: left;
    margin-left: 50px;
}

.authed li{
    display: inline-block;
    margin-right: 1.5em;
}

.announcement{
    margin: 25% auto 0;
    color: #fff;
}

.main{
    background: #fff;
    background: rgba(255,255,255,0.75);
    color: #333;
    padding: 10px 25px 35px;
    margin-bottom: 80px;
    font-family: Georgia, serif;
    border: 1px rgba(48,48,48,0.5) solid;
}

.maps{
    width: 660px;
    margin: 0 auto;
    clear: both;
    text-align: center;
}

.maps img{
    margin: 10px;
}

.maps .seattle,
.maps .national{
    float: left;
    width: 310px;
}

.maps:after{
    content: "";
    display: table;
    clear: both;
}

ol, ul{
    text-align: left;
    padding: 0;
    list-style: none;
}

ol, ul, dl, p{
    font-size: 112.5%;
}

li{
    margin-bottom: 0.5em;
}

dt{
    font-weight: bold;
}

dd{
    margin: 0;
}

/* RSVP-specific */

.map-wrapper{
    padding: 1em;
    background: #fff;
}

.map-wrapper img{
    display: block;
    max-width: 100%;
}

.deets{
    margin-top: 20px;
}

.blurb{
    float: left;
    width: 38.5%;
    text-align: left;
    padding: 20px 0 20px 63px;
    min-width: 191px;
    background: #fff no-repeat 0 20px;
    margin: 0 0 20px;
}

.blurb.location{
    background-image: url(/static/img/google-mark.png);
}

.blurb.date{
    float: right;
    background-image: url(/static/img/clock.png);
}


.blurb address,
.blurb p{
    border-left: 1px #ccc solid;
    padding-left: 20px;
    margin: 0;
    font-size: 1em;
}

.attending-yn{
    margin-bottom: 40px;
}

.big-button{
    font-size: 3em;
    margin: 0 0.5em;
    text-decoration: none;
    border: 2px #777 solid;
    border-radius: 10px;
    color: #333 !important;
    background: #fff;
    padding: 0.25em 0.5em;
    background: rgba(255,255,255,0.9);
    display: inline-block;
    font-family: "Oleo Script";
    cursor: pointer;
}

.yay.clicked{
    background: #34e21c;
    background: rgba(52,226,28,0.9);
}


.boo.clicked{
    background: #e2341c;
    background: rgba(226,52,28,0.9);
}

.clear{
    clear: both;
}

.m{
    display: none;
}

hr{
    border: 2px #555 solid;
}

.fieldset .field{
    float: left;
    width: 50%;
}

input[type="text"], textarea{
    font-size: 0.9333em;
    padding: 3px;
}

textarea{
    height: 3em;
}

input.count{
    width: 20px;
    text-align: center;
}

.hint{
    font-size: 0.875em;
}

.note{
    padding: 0.5em 0;
    background: #ecf28e;
}

.texty{
    text-align: left;
    font-family: Georgia, serif;
    line-height: 1.6em;
}

.sidebar{
    float: right;
    font-size: 0.875em;
    width: 180px;
    margin: 0 0 2em 2em;
}

.party{
    width:45%;
    display:inline-block;
    vertical-align: top;
}

@media screen and (max-width: 480px){
    h1{
        font-size: 2em;
    }
    
    .layout,
    .maps{
        width: auto;
        min-width: 0;
    }

    .maps img{
        max-width: 100%;
        width: auto !important;
        margin: 0 auto 20px;
        float: none !important;
        display: block;
    }

    .r{
        display: block;
    }

    .r br{
        display: none;
    }

    .m{
        display: block;
    }

    .attending-yn .big-button{
        font-size: 2em;
    }

    .fieldset .field{
        float: none;
        width: auto;
    }

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}