title: New Passports Secured!
author: Jon
date: 09-07-2013

{% extends "post.html" %}

{% block tips %}
<li>Nonviolent pickpocketing is extremely common. Especially on the metro, and especially targeting tourists. Mind your surroundings.</li>
<li>The U.S. consulate has a passport-ready photo booth, for €5 each.</li>
<li>Avoid flying back to the States on the weekend, if you can. The consulate isn't open til Monday, so they can't help you before your flight in case of trouble.</li>
<li>There's supposedly a loophole where a photocopy of your stolen passport, two forms of ID and a police report will suffice to get you back to the States OK (<a href="http://en.wikipedia.org/wiki/IANAL" title="I Am Not A Lawyer">IANAL</a>; do your research). BUT — this is null & void if your layover flight is in Canada, like one of the poor chaps at the Consulate today. So, avoid international layovers if possible.</li>
{% endblock %}

{% block body %}

{% load markup %}
{% filter markdown %}

We're breathing a bit easier after getting our emergency passports this morning! HOORAY!! U-S-A! U-S-A!

<figure>
	<img src="{{ STATIC_URL }}/img/consulate-the-marriage.jpg" class="halfsie" />
	<img src="{{ STATIC_URL }}/img/passports.jpg" class="halfsie" />
	<figcaption>We consulated the marriage! We have passports again!</figcaption>
</figure>

It was a fairly straightforward process of paperwork at the Consulate. Meanwhile you had other Americans in there trading war stories like we were all stuck doing jailtime together. There was one woman who'd been robbed of everything — money, wallet, luggage, computers, passports, the whole works. About 45 minutes into her ordeal of requesting an emergency passport, one of the officers stopped her to let her know that, miraculously, they'd recovered all of the stolen items. The thief took the money and dumped the rest of her belongings nearby. Incredible. We broke into big smiles, then applause.

There was another old salty dog in there with a fat Rolex, talking about routinely shipping his personal boat to Spain, for the sole purpose of recreational boating. I don't even want to know how rich that dude was.

We also traded tips on how the thieves operate — metros are a very common venue for these crimes, friends — but even with notes of cynicism in our voices, I'll admit it was very refreshing to hear a chorus of American English speakers together. You get to feeling so very fish-out-of-water while you're overseas. It was nice to feel at home, even with total strangers.

I wish I could complain about two and a half hours spent at the U.S. Consulate on the outskirts of Barcelona, but really I'm incredibly thankful. I'm glad one morning was it (those suckers normally take weeks/months when you're not in such a rush) and I'm glad to live in a country that has such helpful services for its citizens while touring other countries. Two and a half hours is a goddamn blessing.

We stopped for lunch at Rasoterra, a lunch spot in the Gotic that looked and felt right out of Portland or Seattle. They made some heavenly intersection of butter and garlic, on top of bread + a tomato spread + another cheesy eggy potato omlette thing.

<hr />

<figure class="to-the-side derecha">
	<img src="{{ STATIC_URL }}/img/hoodrat.jpg" />
	<figcaption>The Hoodrat, a signature cocktail from Creps al Born made with spicy red pepper. Surprisingly refreshing, especially on a warm day.</figcaption>
</figure>

After a well-earned siesta we went out for food and more sights of the city. Creps al Born was our first stop. They make a mean cocktail and a damn delicious chorizo and goat cheese crepe (indeed a pattern is forming with those two ingredients). Cari had a Nutella crepe that was basically dessert for breakfast (it's vacation). Then at night we walked by to see our little daytime crepes spot turn into a little night club! Friggin' one stop shop, that Creps al Born!

I shouldn't be surprised that there was a lot to take in tonight:

- <a href="http://www.callatelaboca.com/sudadera-capucha-potolo-z-2.html">Drunk Voltron on the couch</a>, immortalized in wearable merchandise.
- A jazzy/show-tunesy Spanish cover of Lou Reed's classic, <em>Take a Walk on the Wild Side</em> whilst shopping in the Born.
- A cockroach at a Michelin-rated tapas bar — <a href="https://foursquare.com/v/bilbao-berria/4e42dbd7483b13c708db5d9a">Bilbao Berria</a>; very cheap at €1.65 per plate, but nothing special, really.
- Lots of racial labels applied to other stores if you couldn't find what you were looking for: "You'll have to go to one of the <em>pakis</em>" or "go to one of the <em>xinès</em>", the shopkeepers would say. It seems universally held here that Pakistanis run all of the tobacco and knife shops (we were looking for a money clip) and that Chinese run all of the gadgets-and-housewares-and-everything-else stores (we were looking for a <a href="http://en.wikipedia.org/wiki/Porron">porrón</a>, a traditional Catalonian wine bong. God bless tradition).

Later we took a confusing, misdirected walk (I'm raising my hand) through the Vila Olimpica to meet up with my old pal from Seattle, <b>Liam</b>, before karaoke. We shot the shit about ultimate frisbee, the best nearby beaches, going to the <span class="es">xinès</span>, and the cultural differences that separate Spain from the States.

Liam's been living in Barcelona, or parts nearby, since November 2011. He wasn't really digging his job, and wasn't real sure of his options, and decided that getting out of dodge for a while was a good move while he was young. He looked happy and healthy, and energetic as ever. At the risk of delving into his personal life too much, I really respect the forward attitude of admitting you haven't fully figured out your plan in life — whereas others might be too timid to commit that admission to words. Either way, Christ, what a city for soul searching.

We moved on to the karaoke bar, called Touch Music, who had "minimum consumption" requirements, forcing us to fork over a MINIUMUM of €8 for our drinks (that's $10.50+ a pop, those <span class="es">cabrónes</span>) to even have the right to sit at the establishment, and MAYBE sing. It was enough to convince Liam it was time to head home. We stayed, as the spectacle of it was wonderful, little future Danish pop stars and all, but after singing a couple, we soon left too.

It was late and gelato options were regrettably all closed up. And as the drunks file back to their hostels and the streets become taken over with shady night walkers who offer to sell you six-packs of beer, it starts to feel like time to call it a night.

Six days, is that all? Time flies. Here's a couple of bonus photos we neglected to post earlier.

<figure>
	<img src="{{ STATIC_URL }}/img/clotheshanger.jpg" class="halfsie" />
	<img src="{{ STATIC_URL }}/img/catedral.jpg" class="halfsie" />
	<figcaption>A wirey outdoor sculpture, shaped like a hollowed-out mountain and shot from inside the base. Affectionately known as 'the clotheshanger.' And, Catedral de Barcelona. There's a large plaza out front (where I'm standing) which hosts the castlers and the sardana dance, as well as little merchant pop-up shops.</figcaption>
</figure>

{% endfilter %}
{% endblock %}