title: Spain Has Some Very Gaudí Architecture
author: Jon
date: 08-07-2013

{% extends "post.html" %}

{% block tips %}
<li>Judging a restaurant by the liveliness of its patrons is usually fine bet.</li>
<li>Be advised when ordering coffee, black coffee = <span class="es">"café solo"</span> =  a straight shot of espresso, and whole milk is the norm over here.</li>
<li>Do whatever you want on vacation.</li>
{% endblock %}

{% block body %}

{% load markup %}
{% filter markdown %}

After many days of suppressing The Tired, and waking up very early, mistakenly thinking we could get a head start on the stolen passports thing (on a Saturday! that's a good one, self) we finally got an actual night of decent sleep. No firecrackers. No early morning travels. No destinations or duties. Nowhere to be.

Then we wake up at 3:30pm. Well, shit. It appears we've reverted back to Pacific Time&hellip; and me being up, writing this blog post at 2:47am may help to re-enforce that theory&hellip;

But, that didn't stop us from making a hell of a day out of lazy Sunday — the sabbath, mind you, and generally a closed day for most businesses. We had a bowl of cereal at the house and found a coffee shop open for businesses. We're still perfecting our orders, though; I take my coffee black in the states, but <span class="es">café solo</span> (AKA "black coffee" AKA straight espresso) is still a little intense for my palette, and Cari's still warming up to lattes with whole milk. But, less-than-enjoyable coffees in hand, we were off to the metro.

<figure>
	<img src="{{ STATIC_URL }}/img/parc-guell-columns.jpg" />
	<figcaption>Some of the tiled columny beauty at Parc Güell in Barcelona.</figcaption>
</figure>


On the other side, and after a 20 minute walk up hill, we were staring face to face with Parc Güell, righteously situated with a view of the whole city and lots of detailed architecture. Columns, bench seats, mini-caverns and tons of walkways. 90% of it is covered in gorgeous tiles. Imagine if Dr. Seuss created a lavish and funky shaped outdoor park, then [the most famous tile/mosaic maker in the world, I have no idea] threw up colorful tiles all over Seuss' park. THAT'S Parc Güell. And the mastermind behind it all is Antoni Gaudí.

<figure>
	<img src="{{ STATIC_URL }}/img/parc-guell-entrance.jpg" class="halfsie" />
	<img src="{{ STATIC_URL }}/img/parc-guell-us.jpg" class="halfsie" />
	<figcaption>The Seussian park entrance; crawling with tourists. And, yes. Fine. Next paycheck, I'll buy some prescription sunglasses. Y un haircut-o.</figcaption>
</figure>

If that Gaudí name rings any bells, it's because he's responsible for some other cool stuff; one of which we were off to see on this particular day. But the route to our next stop was a bit of a hike, as the metro route was indirect from where we were, so we stopped midway for nourishment in the form of a gourmet frozen pizza and more Nestea. (It's vacation dudes we can do whatever we want.)

The route we took made also it hard to see our destination until we were literally half a block from it, but from any other direction I'm sure it's difficult to miss&hellip;

<figure>
	<img src="{{ STATIC_URL }}/img/sagrada-familia.jpg" />
	<figcaption>Sagrada Familia! Gaudí's opus.</figcaption>
</figure>

Yes, those are indeed construction cranes you see. Though Gaudí kicked the bucket long ago, his masterpiece cathedral isn't slated for completion for another 20-40 years. When asked if it bothered him that it would take so long to complete, Gaudí supposedly said, "It is okay. My client is not in a hurry." <span class="es">Cómo un jéfe</span>, or whatever.

We didn't get to see much of the inside, though our time spent inside the cathedral was put to great use: crossing ourselves, lighting a candle, me quietly singing "I wanna make looove in this church" in the style of Usher, then swearing aloud after tripping up the stairs.

Later went to eat at some geezery tapas joint where they spilled my wine, then barked after I paid with a card + correctly entered the PIN + signed the receipt, but didn't have ID on me. But, on the plus side, they did have Guns 'n Roses and Radiohead on cassette tape, sooo&hellip;

Wrapped up another night with gelatto, then one last nightcap at <a href="https://foursquare.com/bahoo/checkin/51d9e15c498edc7775b20c98">Collage Art & Cocktails Social Club</a>. Boasting it as an 'art gallery' is a bit of an oversell, but they do not fuck around with the cocktails for sure. I felt like I was right at home at Rob Roy or Canon or any of Seattle's many fine cocktail purveyors. Cari had some magical rum-based spin on a Moscow Mule, and they cooked up a delicious white wine + brandy + grape thing for me (it's vacation I can do whatever I want). They even gave us a free mango/guava-based shot to celebrate getting hitched! We'll have to come back when we don't have passport shit to deal with in the morning.

And speaking of segues&hellip; no news in that department yet, but hopefully we'll get some resolve tomorrow morning with our passports at the consulate. Annnnd it's pushing 3:40am and that's in four hours so Imma go do that sleep thing. <3

{% endfilter %}
{% endblock %}