title: Holy crap, Spain is awesome.
author: Jon
date: 03-07-2013

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

We've been in Spain for about nine hours. We landed approximately 8am local time (and we're +1 GMT here, so that was about 11pm in Seattle, we think). So after getting almost no sleep on the plane (and getting up at 5:30am PT for said day of air travel meant little sleep the night before) we arrived in Spain physically wiped&hellip; but also surprisingly energetic.

<figure>
	<img src="{{ STATIC_URL }}/img/leaving-MAD.jpg" />
	<figcaption>The exhaused-but-upbeat newlyweds excited to be on Spanish soil.</figcaption>
</figure>

And so began the adventure. We had only American money, which was followed by a brief moment of panic when our two credit cards weren't working in the machines to buy tickets for the metro. =/ Ruh-roh. Fortunately we soon found an ATM that worked with our debit card, and a helpful dude at the ticket counter who got us on our way.

Then came the deliriousness. Be careful, friends, when relying on color-based visuals in large public transit systems. The 'green' line becomes ambiguous when there are several shades of green or blue or red. Luckily this wasn't Cari's first rodeo and she saved me from accidentally hopping on the metro to faraway corners of Madrid.

A few stops later we found our hotel with little trouble. They were happy to welcome us so early in the morning and we were thankful for a chance to drop our luggage off.

We cleaned up a bit and headed out to see the vistas and be touristy for a few hours. Madrid is a lovely city of old architecture. So much to see that harkened back to studies in Spanish classes from days gone by. People on scooters everywhere you look (I'd fit in well :D). Tons of shopping and parks just a lot to take in.

<figure>
	<img src="{{ STATIC_URL }}/img/thing-one.jpg" class="halfsie" />
	<img src="{{ STATIC_URL }}/img/palacio-de-communicacion.jpg" class="halfsie" />
	<figcaption>Eh&hellip; what am I looking at, exactly?</figcaption>
</figure>

We found a great tapas bar off the Gran Vía called <a href="https://foursquare.com/bahoo/checkin/51d44c69498e147a987a5f27">Mercado de la Reina</a> to grab some lunch. They made a mean salmon tartar, <span class="es">jamón con espárragos y brie</span>, fried calamari, and croquettes with jalepeños. Holy hell, it was all delicious. I think we are in for <span class="es">una adventura gastronómica</span> on this trip.

We came back and got a few ducks in line. I installed my new SIM card in my iPhone 5. Pro-tip, friends: bring your unlocked phone overseas and buy a prepaid card. I bought a card for these two weeks for phone and 1GB of 3G data for about €12. Beats the hell out of roaming. Also we'd been relying on offline map apps for our iPhone for navigating around the city, which I also recommend. We started hacking more on building this here site, but ultimately succumbed to a much-deserved nap for most of the afternoon.

<hr />

Tonight we went to <a href="https://foursquare.com/bahoo/checkin/51d4766d498e8c3b3a5eb2cc">Gaudeamus Café</a> for some wonderful dinner on their rooftop. It's actually built (I think) on top of some kind of school or cathedral building. Incredible outdoor ambience and the weather was very inviting. Super-helpful staff in finding some great food picks, including a fried goat cheese salad and tabula, a dish I'd never heard of before but would happily go vegetarian for if it meant I could eat it every day of my life.

I think our only mistake at all was ordering too much food. We bought several smaller/medium sized plates and a larger plate for each of us, and wound up with more than we'd expected. We decided sticking to smaller plates and sharing a lot is probably a wiser bet moving forward, since you can always order more if you're hungry. :)

We made a couple of other stops for a glass of wine at a nearby restaurant in the park at a place called <a href="https://foursquare.com/bahoo/checkin/51d487dd498e794755a5dfa4">Quiosko de la Reina</a> and then some ice cream before calling it a night. I think we're going to hit the big reset button on sleep and get after some more city-seeing tomorrow on a full charge.

So far everything has been incredible. Our Spanish is getting better. We've figured out finding our way around (a combo of hunches and iPhone research) and luckily for us, we can walk two blocks in pretty much any direction and find somewhere spectacular to eat. :D

{% endfilter %}
{% endblock %}