title: Barcelona Stole My Heart (too)
author: Cari
date: 07-07-2013

{% extends "post.html" %}

{% block tips %}
<li>This siesta business is pretty awesome</li>
<li>Always say yes to gelato</li>
<li>Catalan tradition is as special as it is intangible, a must witness</li>
{% endblock %}

{% block body %}

{% load markup %}
{% filter markdown %}

The day started with a bang. Fireworks, actually. Several. Right outside our building. But we were still sleeping so this was not at all as romantic as you might have been assuming. Once we realized that it was just an old guy in the street tossing firecrackers, one by one, our hearts stopped palpitating. I went back to sleep for several more hours and at some point Culver went out in search of a naranja gigante.

When we finally started our day it was early afternoon and hungry o'clock. I didn't know what I wanted but I vetoed a couple suggestions for no other reasons than instinct. Then I saw a vegetarian sign and asked Culver if Falafel was good? "You've never had falafel? Let's fix this!" I got another life first experience and it was muy bien!

Bellies happy, we were off to the Parc de la Cuitadella. This was a wonderful place for a stroll and a sit so we had several of each. We found a little pond with palm trees around it where you could rent row boats. We opted out, to instead watch a gang of birds fighting over a stale piece of bread (go little guy!) We then went in search of a giant mammoth we were told we must seek and climb if we are anybody important. Before we found it, we saw a huge waterfall fountain with golden sculptures of greek gods and grand staircases on both sides leading up to it. It was breathtaking european architecture. The kind we never see in America, aside from an homage in Vegas.

<figure>
	<img src="{{ STATIC_URL }}/img/fountain-gorgeousness.jpg" />
	<figcaption>Fountain gorgeousness at the Parc de La Cuitadella.</figcaption>
</figure>

After descending the staircase, we spyed the mammoth hiding behind some palms! And since we are no chickens, we climbed that sucker's trunk for some pictures! We then followed the park path to see the Arc de Triomf up close. It reminded me very much of the one in Paris, perhaps that was the point. 

<figure>
	<img src="{{ STATIC_URL }}/img/mamut-cari.jpg" class="halfsie" />
	<img src="{{ STATIC_URL }}/img/mamut-jon.jpg" class="halfsie" />
	<figcaption>El Mamut. A very necessary photo op at the Parc de la Cuitadella.</figcaption>
</figure>

I also got another tip from Ryan yesterday, more of a torch to be passed really: <a href="http://web.stagram.com/tag/botigatancat/">#botigatancat</a> on <a href="http://instagram.com">Instagram</a>. It translates to 'closed shop'; Ryan had started an awesome photo series for these. There are some amazing grafitti artists here and much of their work is on the garage-like doors that roll down when the shops close up for the day (or for a siesta). I took a couple today trying to uphold the hash tag. Maybe one day when you are in Barcelona, you can too?

<figure>
	<img src="{{ STATIC_URL }}/img/botigatancat-cheetah.jpg" class="halfsie" />
	<img src="{{ STATIC_URL }}/img/botigatancat-smurfette.jpg" class="halfsie" />
	<figcaption>A sampling of the interesting art you'll find painted on the closed up shops in Barcelona.</figcaption>
</figure>

I definitely felt a little betrayed after getting stolen from, this city however, would continue to show off its charm to us today. On the way home we saw a group of dancers in circles in a plaza. They were doing the Sardana! A very distinct tradtitional dance. It was so nice to see the old and the young dancing together, with gingerly and studied footwork to a live quartet playing amidst them.

<figure>
	<img src="{{ STATIC_URL }}/img/sardana.jpg" />
	<figcaption>Fiends and strangers dancing the sardana together.</figcaption>
</figure>

We decided to get refreshments of Nestea and Damm Limon (a beer & lemonade mix) and head back for a siesta. I don't know if it is the jet lag, the culture, or the freedom from my beloved toddler son, but I can really get down on the siesta thing. We awoke and rallied because we had heard from Ryan and Lana yesterday that the Castellers would be performing tonight. On the way to find them we happened upon a bag pipe and drum procession (bonus) and then we saw them! There are different teams and we watched two rounds. I cant help but get chills when the little guys scurry to the top and back down. Everyone is cheering and I got a little misty just thinking how special this thing is that I just witnessed. And no one got hurt :D Perfecto!

<iframe class="vine-embed" src="https://vine.co/v/hW2vnd7nuT2/embed/postcard" width="600" height="600" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>

Then it was off to find dinner. When a place foursquare reccomended was too packed, we went just across the street and had excellent tapas. My favorite here, and so far, was deep fried Camembert with a rich sweet fruit sauce. I almost ordered it again! We also had the freshest salmon ever seasoned with dill and a soy sauce. Como se dice "vanquish?"

Oh and gelato! I have managed to make this a thing every night but Culver's not exactly complaining. There are gelato shops on nearly every block and they stay open late. It truly hits the spot.

After dinner, we went back to the apartment to rest again and then out for round three! It was just after midnight so we strolled around taking in the night life. People do eat a late dinner here yet this city truly comes alive after midnight. So many drunk people speaking in so many languages! What a wonderful multicultural shitstorm! We had a cocktail at a cool spot al fuera and meandered back to the apartment, still just taking in the whole place. 

Totally loving you Barcelona.




{% endfilter %}

{% endblock %}

