title: Dammit Spain, We Had a Good Thing Going...
author: Jon
date: 06-07-2013

{% extends "post.html" %}

{% block tips %}
<li>Make a copy of your passport.</li>
<li>Keep your purse close to you, and keep a hand on it, especially in big crowds.</li>
<li>It's good to travel with friends, when possible. They can offer great tips, experience, and perspective.</li>
{% endblock %}

{% block body %}

{% load markup %}
{% filter markdown %}

Well, damn. Our passports got stolen as we were leaving the metro last night.

I tried rewriting that first sentence so as to avoid spoiling the rest of this post but in terms of high level "here's what happened," that's a tough one to get around.

We're in Barcelona. Had a mostly chill day of plotting out our day at a coffee shop, meeting our <a href="http://airbnb.com">Airbnb</a> host and several <span class="es">siestas</span> in a feeble attempt to catch up on sleep.

<figure class="up-too-high">
	<img src="{{ STATIC_URL }}/img/apartment-bcn.jpg" />
	<figcaption>An early morning view of our loft in Barcelona. We'll be in town for about five nights.</figcaption>
</figure>

<figure class="to-the-side derecha">
	<img src="{{ STATIC_URL }}/img/simply-bcn.jpg" />
	<figcaption>That's the <a href="http://simplymeasured.com">Simply Measured</a> logo you spy. Ryan's been working remotely from Barcelona for several months now, and made some dry erase art visible outside his apartment.</figcaption>
</figure>

That night we met up with my buddy from work, Ryan, and his wife Lana. They were nice enough to greet us with Sangria and show us around the neighborhood a bit. We had a nice meal at a spot nearby called Cat Bar. Full vegan menu, no less! Even without meat and animal fat I couldn't finish my delicious Mexican burger.

With a bottle of sangria in tow we left to go see the Magic Fountain of Montjuïc, a very grand spectacle in Barcelona and quite the hopping party. We made it through the metro but on our way up the stairs out of the metro, Cari discovered her purse was unzipped. She always left that shut and we knew that couldn't be good. Our passports were stolen.

Which, hey — it sounds like the worst, and definitely sucks, but we were pretty well prepared. We'd made copies of our passports beforehand, and still had our wallets, money, phones, etc. Plus we're traveling soon so we qualify for emergency replacement service. We'll deal with the consulate on Monday but weren't going to let it ruin our good time.

<figure class="clear">
	<img src="{{ STATIC_URL }}/img/magic-fountain-two.jpg" class="halfsie" />
	<img src="{{ STATIC_URL }}/img/magic-fountain.jpg" class="halfsie" />
	<figcaption>Crazy amounts of water pressure, a light show and loud music to go with it. Not to mention a pretty glorious backdrop of the museum looming in the back.</figcaption>
</figure>

It's funny describing a fountain as a fun and cool activity to go watch for 45 minutes but this thing was incredible. It had the sonic presence of going to see the symphony mixed with a crazy light show, wrapped up in a splashy interactive format, a la Sea World. And flooded with people, party music, delicious smells of food carts, little amusement park-style rides, the whole works. Barcelona showing it's true colors as a big party city.

Afterward we made a late night stop to the beach on the Mediterannean; Platja de Sant Sebastià. It was warm, a little too dark to capture any meaningful photos, and mostly quiet; there were several fisherman and just a handful of revelers wandering about.

We headed home and bid Ryan and Lana adieu (they're off to Paris for about a week before heading back to the states) and thanked them for the tips and tours. We did some more research on getting replacement passports. Good news is, this happens all the time and they're ready to deal with folks in our situation. Really the only bad news is we have to hold our <span class="es">caballos</span> and wait until Monday when everything opens up.

Barcelona is a couple hour train ride from Madrid but it's different country out here. It's part of <a href="http://en.wikipedia.org/wiki/Catalonia">Catalonia</a> (which admittedly I didn't know much about before doing some preparatory research) and a little less tourist friendly. The presence of well-spoken English isn't as reliable at restaurants and markets and such so we'll be testing our linguistic might this week, and perhaps making less efforts to outwardly announce ourselves as tourists — something I had zero qualms about doing in Madrid.

No love lost, though we'll be keeping our guard up more while we're in Barcelona.

{% endfilter %}
{% endblock %}