title: Getting Difficult to Keep Up
author: Jon
date: 14-07-2013

{% extends "post.html" %}

{% block tips %}
<li>Bota bags (wine skins) are a fabulous bet for public drinking on the go in Pamplona.</li>
{% endblock %}

{% block body %}

{% load markup %}
{% filter markdown %}

It's pushing 5am local time.

For days now I've been <a href="https://twitter.com/bahoo/status/355136707173158913">plagued</a> with a terrifically discombobulated sleep schedule. It's been nice for staying up and typing some posts, like this one, but inevitably I zonk out before my internal editor is comfortable with hitting the Publish button.

OK I'll try to keep this one short. High-level updates since we last spoke:

## Holy crap, I ran with the damn bulls!

This has been a life dream of mine since high school (that's coming up on a decade). Far and away my biggest must-do "bucket list" item. It was just as thrilling and thankfully a bit less dangerous than we expected — though several poor lads from the last few days have had a very different experience.

I ran alongside good friends <b>Saffer</b> and <b>Horbatt</b> who actually flew into Pamplona for a weekend to partake in this craziness with me. We're all alive and well. We ran the 2nd leg of Estafeta (see you don't get to run alongside those bulky death machines the whole time — the bulls are just too damn fast — so you gotta hedge your bets and pick a certain stretch of the course to focus on). This grants you access into the bullring where, one at a time, they let six smaller, younger bulls run around in an enclosed space full of humans. THIS is where all the lunatics come out to taunt the animals and make their best bids at getting hurt. We didn't feel like pushing our luck so we ducked out after a few rounds of it.

Cari was very glad to see me emerge unscathed. :D I decided against doing some weird "just-in-case" goodbye thing beforehand, because I didn't want to plan on getting hurt. Instead I opted for a somewhat cryptic "I'M OK!" message. :D

<blockquote class="twitter-tweet"><p>Went for a nice run around the plaza this morning. <a href="http://t.co/8Z6Y14DpJP">pic.twitter.com/8Z6Y14DpJP</a></p>&mdash; Jon Culver (@bahoo) <a href="https://twitter.com/bahoo/statuses/355576760487772161">July 12, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

## We've been partying like crazy people for three days straight.

San Fermín Festival has been a grand ol' note on which to end the Spanish trip. Super hospitable and inviting. And the party never sleeps. At 6:30am before the race, the streets were only slightly less busy than when we left them around 1am.

Jeez what else is even appropriate for a post like this...

## Picasso Museum in Barcelona was pretty rad, too.

Remember me <a href="/posts/day-two-or-three.html">geeking out on seeing Las Meninas</a>? Apparently homeboy Pablo did like 30-50 reimaginations of that painting in his own ridiculous style. They're all unique too, and watching the changes between each mutation made for a fascinating exhibit. It's difficult to discern if there was one true 'finished' piece.

## Castelldefels is very much worth doing in Barcelona.

Secluded beaches, 30mins south of town and seemingly a bit of a locals-only treat. Sparsely crowded, white sand, warm water, little wake, gorgeous moutainous backdrop.

<hr />

These topics all deserve a little more attention but I had to send out something as I'm falling way behind here. But, I'm alive and I'll post more as time and sleep permit. :D

{% endfilter %}
{% endblock %}