{% extends "authed.html" %}
    
{% block content %}

	<h1>OMG FINALLY.</h1>
	<p>You asked and we answered.</p>
	<h3>How It All Started</h3>
	<p>&ldquo;Eh, I don't feel like meeting girls tonight,&rdquo; I told my pal Mark. It was maybe 9pm.
		We were out and about in Belltown as quickly becomes the norm when you're <del>22</del>
		young and invincible. Don't get me wrong &mdash; Amber is a fantastic and suitably&hellip;
		how shall I say this&hellip; &lduqo;trendy&rdquo; venue. A perfect swanky martini lounge in Seattle
		for meeting people who don't live in Seattle.</p>
	<p>I wasn't in the mood though. I just felt like kicking it. You know, slugging whiskey and
		shooting the grand old stuff at a more divey neighborhood bar. So after a few minutes of spotting
		Mark at Amber (I recall striking out a few times) I joined my other friend Matthew at Whiskey Bar.</p>
	<p>MEANWHILE trouble was brewing.

{% endblock %}