{% extends "base.html" %}

{% block page %}

	<div class="header authed layout clearfix">
		<h4>Jon <span class="hearts">&hearts;</span> Cari</h4>
		<ul class="nav">
			<li><a href="/getting-here">Getting Here</a></li>
			<li><a href="/what-to-expect">What To Expect</a></li>
			<li><a href="/wedding-party">Wedding Party</a></li>
			<li><a href="/rsvp">RSVP</a></li>
		</ul>
	</div>

	<div class="main layout {% if texty%}texty{% endif %}">

		{% block content %}
		{% endblock %}

	</div>
{% endblock %}