<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico"> 
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script" />

	{% block header %}
	<title>Welcome</title>
	{% endblock %}

</head>
<body>

	<div class="main">
		{% block content %}
		{% endblock %}
	</div>

	<div class="sidebar">
		<div class="passport">
			<p class="passport-title">Passport</p>
			<h2>Jon <span class="heart">&hearts;</span> Cari</h2>
			<p class="estrellas">&star;&star;&star;</p>
			<p class="footer-thing-idk">United States of Awesome</p>
		</div>

		<div class="the-scoop">
			<p>On June 29th, <a href="http://v1.jonandcari.com">we got married</a>. Now, we're off to Spain for our honeymoon.</p>
			<p>July 2nd &ndash; July 15th<br />
				Madrid / Barcelona / Pamplona</p>
			<p>This is a tiny travel blog of that journey. :D</p>
		</div>
	</div>

</body>
</html>
