<!doctype html>
<html>
<head>
	<title>COUNT</title>
	<style>
		body{
			font-family: Georgia;
		}
		h1{
			font-size: 8em;
			margin: 0;
		}
		.extras{
			display: none;
		}
	</style>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0;" />
</head>
<body>
<h1 style="text-align: center;">{{ count }}</h1>
<ul class="attendees">
	{% for a in attendees %}
	<li>{{ a.name }} {% if a.count > 1 %}(+{{ a.plus_one_situation }})
		<ul class="extras">
			{% for p in a.get_attendees %}
				<li>{{ p }}</li>
			{% endfor %}
		</ul>{% endif %}</li>
	{% endfor %}
</ul>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
	$(function(){
		$('.attendees').on('click', '> li', function(){
			$('.extras').slideUp();
			$(this).find('.extras').slideDown();
		});
	});
</script>
</body>
</html>