{% extends "authed.html" %}
    
{% block content %}

	<h2>Getting Here</h2>

	<div class="sidebar">
		<h3>Helpful links:</h3>
		<ul>
			<li><a href="https://maps.google.com/maps?q=Fay+Bainbridge+State+Park,+Sunrise+Drive+Northeast,+Bainbridge+Island,+WA&amp;hl=en&amp;sll=47.603942,-122.33569&amp;sspn=0.000742,0.001093&amp;oq=Fay+Bai&amp;t=h&amp;hq=Fay+Bainbridge+State+Park,+Sunrise+Drive+Northeast,+Bainbridge+Island,+WA&amp;z=16">Fay Bainbridge State Park on Google Maps</a></li>
			<li><a href="https://maps.google.com/maps?q=Seattle+Ferry+Terminal,+Seattle,+WA&amp;hl=en&amp;sll=47.702833,->Seattle122.50778&amp;sspn=0.008375,0.017488&amp;oq=seattle+ferry+terminal+&amp;t=h&amp;>Seattlehnear=Seattle+Ferry+Terminal,+Seattle,+King,+Washington+98104&amp;z=16">Seattle Ferry Terminal on Google Maps</a></li>
			<li><a href="http://www.wsdot.com/ferries/schedule/ScheduleDetail.aspx?departingterm=7&amp;arrivingterm=3&amp;roundtrip=true">Seattle - Bainbridge Island Ferry Schedule on WSDOT</a></li>
			<li><a href="http://www.wsdot.wa.gov/ferries/fares/FaresDetail.aspx?tripdate=&amp;departingterm=7&amp;arrivingterm=3">Ferry Fare Information / Buy Tickets Online</a></li>
			<li><a href="http://www.soundtransit.org/Fares-and-Passes/Link-fares">Link Light Rail (from airport to downtown)</a></li>
		</ul>
	</div>

	<p>Well, to start, where are you?</p>

	<h3>&rarr; I'm on Bainbridge Island; where is this wedding?</h3>
	<p>It's at Fay Bainbridge Park, on the North end of the island, about a 15 minute drive from the ferry terminal. Take 305 North and turn right onto the Day Road turnoff, then follow the signs to Fay Bainbridge. You'll take a left onto Sunset Drive NE, then a right into the park itself. <a href="https://maps.google.com/maps?q=Bainbridge+Ferry+Terminal+to+Fay+Bainbridge+State+Park,+Sunrise+Drive+Northeast,+Bainbridge+Island,+WA&amp;saddr=Bainbridge+Ferry+Terminal&amp;daddr=Fay+Bainbridge+State+Park,+Sunrise+Drive+Northeast,+Bainbridge+Island,+WA&amp;hl=en&amp;sll=47.272986,-120.882277&amp;sspn=4.323763,8.953857&amp;geocode=FRCu1gIdVZ-y-CmnHgFwuD6QVDG_SBTUkE-cnA%3BFZzk1wIdm6qy-CFJg3T99Fu_oCnRhEpPbj2QVDFJg3T99Fu_oA&amp;oq=bainbridge+ferry+terminal+to+fay+bainbr&amp;t=h&amp;z=12">See Fay Bainbridge Park on Google Maps</a>.</p>
	<p>Once you're in the park, take the entry road down 'til you're facing the beach. We'll be in the cabin shelter next to the playground. Parking is free. :)</p>

	<h3>&rarr; I'm in Seattle; where is this ferry dock?</h3>
	<h4>By Car</h4>
	<p>The ferry terminal is on the Seattle waterfront. If you're taking your car over, you'll want to enter near Alaskan and Yesler Way, but keep in mind there's some crazy one-way traffic routes; from 1st Ave, I usually take Marion down to under the viaduct, then turn left onto Alaskan. Stay in the right lane and follow that down to the last entrance on the right. Veer right after the toll booth, you'll find the lanes waiting for BAINBRIDGE (not Bremerton)</p>
	<p>Round-trip fares for cars costs $25-30, and more depending on number of passengers. The scenery is worth every penny.</p>

	<h4>On Foot</h4>
	<p>Fare's about $8 round-trip. Walk up the ramp into the Ferry Terminal building from Alaskan near Marion (alternatively, there's a pedestrian bridge at 1st Ave and Marion if you're up that way). You can buy tickets at the kiosks or get in line to talk to a teller. Make sure you're indeed going to <b>BAINBRIDGE ISLAND</b>.</p>

	<h4>Either way&hellip;</h4>
	<p>ARRIVE EARLY! Boats only run every 45-60 minutes, and there will be plenty of folks in line during the summertime. Give yourself at least 30 minutes before departure.</p>

	<p><b>Once you're on the boat</b> there's a few levels of sun decks. Explore a bit. Did I mention they serve beer?</p>

	<p><b>Once you're off the boat</b> there's numerous cabs available on the island and they flock when the ferry arrives. If you're traveling by car, see notes and links at the top of the page for directions.</p>

	<h3>&rarr; I'm not in Seattle. How the heck do I get there &hellip;</h3>
	<p>Seattle-Tacoma International Airport (SEA) is likely to be your point of entry into Seattle. Once you're at Sea-Tac, Seattle has <a href="http://www.soundtransit.org/Schedules/Central-Link-light-rail">a light rail system</a> that will take you from the airport to downtown Seattle for a cool $3. Get off at the Pioneer Square stop and you can enjoy a 10 minute walk downhill to the ferry dock (or hail a cab).</p>

	<p>Alternatively, a cab to downtown from the airport will run you $40-50. (Or an <a href="https://www.uber.com/">Uber</a>, but keep in mind that Bainbridge Island has taxis but doesn't have Ubers). Rental cars are of course available as well.</p>
	<h4>&hellip; from California</h4>
	<p>Los Angeles International Airport (LAX) will have direct flights, but you can get to Sea-Tac pretty easily from any major airport in California.</p>
	<h4>&hellip; from Louisville</h4>
	<p>Direct flights just plum don't exist, so expect a layover. But if you need a direct flight and can handle a 90min drive, I might recommend flying in &hellip;</p>
	<h4>&hellip; from Cincinnati</h4>
	<p>Cincinnati / Northern Kentucky (CVG) <b>does</b> have direct flights. If you're up in Oldham County and north of downtown, this is a fine bet. I always fly into CVG.</p>
	<h4>&hellip; from Portland</h4>
	<p>You know the drill; <a href="http://www.amtrak.com/northwest-train-routes">Amtrak</a> or <a href="https://www.boltbus.com/">BoltBus</a> or car or hitch-hiking or whatever sounds good.</p>

{% endblock %}