{% extends "authed.html" %}
    
{% block content %}

	<h2>Are You Guys Registered&hellip;?</h2>

	<div class="sidebar">
		<p><a href="http://www.urbandictionary.com/define.php?term=tl%3Bdr&amp;defid=3220838">tl/dr</a>: No, but (and good heavens you don't have to bring anything; the trek to Seattle is quite enough!) you can
		contribute to our honeymoon fund or give money toward Max's College Fund if you want.</h3>
	</div>


	<p>More than anything we're excited to hang with you fine people. Truly. (And we'll be providing the booze so you can all get to know  better)</p>

	<p>So no, we didn't register anywhere because we already have tons of awesome stuff from living together for three years.</p>

	<p>Now, if you had your hopes up on getting us a specific special something, by all means knock yourself out. Bonus points if it is from craigslist. If you blew your tax refund on getting out to Seattle and/or don't want to get us anything &mdash; this is your out. We will hug you and exchange laughs just the same.</p>

	<p>If you are still keen on getting us a gift, you are far too kind, and you might consider one of two options:</p>
	<ol>
		<li><b>Honeymoon Fund</b>
			<p>We're going to Spain for a couple weeks after the wedding, touring Madrid and fulfilling Jon's lifelong dream of
			running with bulls in Pamplona during the San Fermin Festvial &mdash; yep, it's happening. We hear Spain is, well, obscenely expensive (hey guys, <a href="http://www.urbandictionary.com/define.php?term=Yolo&amp;defid=6688179">YOLO</a>). If you are interested <a href="http://www.honeyfund.com/wedding/cariandjon2013">you can contribute to our Honeymoon Fund</a>.</p>

			<p>Our very awesome Maid of Honor <b>Jennifer</b> organized our Honeymoon Fund and kept the whole thing a big secret until Cari's surprise bridal shower recently! How cool is that!</p></li>

		<li><b>Max's College Fund</b>
			<p>He's our son and he's the light of our life. We want him to do big things in the future and we want to set him up to go to a promising school. If you want, you can <a href="http://maxoftheday.com/pages/send-max-to-college/">add money to his college fund</a> over at <a href="http://maxoftheday.com">Max of the Day</a>.</p></li>

	</ol>

{% endblock %}