{% extends "authed.html" %}
    
{% block content %}

		{% if submitted %}
			<div class="note">Sweet! Your RSVP has been saved :)</div>
		{% endif %}

		<p>You probably <a href="{% url "save_the_date" %}">already heard</a>...</p>
		<h2>Jon and Cari <br class="m" />are tying the knot</h2>

		<p>&hellip; and we're hoping that<br />YOU will come celebrate with us.</p>

		<div class="map-wrapper">
			<a href="http://maps.google.com/maps?q=Fay+Bainbridge+State+Park,+Sunrise+Drive+Northeast,+Bainbridge+Island,+WA"><img src="http://maps.googleapis.com/maps/api/staticmap?center=47.65899,-122.408173&amp;zoom=11&amp;format=png&amp;sensor=false&amp;size=640x275&amp;maptype=roadmap&amp;markers=color:red%7CFay+Bainbridge+State+Park,+Sunrise+Drive+Northeast,+Bainbridge+Island,+WA" class="map-link" /></a>
		</div>

		<div class="deets">

			<div class="blurb location">
				<address>Fay Bainbridge Park<br />
					Bainbridge Island, WA</address>
			</div>

			<div class="blurb date">
				<p>June 29th, 2013<br />
					4 o'clock</p>
			</div>

		</div>

		<p class="clear">A brief ceremony followed by a lengthy party.<br />
			Dinner, booze, dancing, and a few surprises.</p>

		<hr />

		{% if already_rsvped %}
			<p class="note">Just a heads up: we already received your response (You said {{ rsvp_form.instance.get_is_attending_display }}).<br />
			Use the form below if you need to update your RSVP!</p>
		{% endif %}

		<h2>So&hellip; are you in?</h2>

		<div class="attending-yn">
			<a href="#yes" class="big-button yay {% if rsvp_form.instance.is_attending %}clicked{% endif %}">Yes!</a>
			<a href="#no" class="big-button boo {% if already_rsvped and not rsvp_form.instance.is_attending %}clicked{% endif %}">No.</a>
		</div>

		<form id="attending-yes" {% if not already_rsvped or already_rsvped and not rsvp_form.instance.is_attending %}style="display: none;"{% endif %} action="" method="post">
			{% csrf_token %}
			<input type="hidden" name="is_attending" value="True" /> 
			<h1>MOST EXCELLENT!</h1>
			<h2>We knew we could count on you.</h2>
			
			<p>How many in your party? {{ rsvp_form.count }}<br />
			<span class="hint">(include yourself, so '1' if you're solo)</span></p>

			<div class="attendees" {% if rsvp_form.instance.count < 2 %}style="display: none;"{% endif %}>
				<p>Can you please list out the names of who's coming with?</p>
				{{ rsvp_form.attendees }}<br />
				<span class="hint">Super helpful for de-duping the invite list !</span>
			</div>


			<p class="clear">Lastly, any messages and/or questions for us? Fire away:</p>
			{{ rsvp_form.message }}

			<p>Hit 'Submit' and we'll see you there!</p>

			<button type="submit" class="big-button">Submit</button>
		</form>

		<form id="attending-no" {% if not already_rsvped or already_rsvped and rsvp_form.instance.is_attending %}style="display: none;"{% endif %}action="" method="post">
			{% csrf_token %}
			<input type="hidden" name="is_attending" value="False" />
			<h1>AWW... BOO. :(</h1>
			<p>Well, shoot. We're sad to hear this, and you'll be missed &mdash; but we promise not to hold a grudge.</p>

			<p>Add a message if you'd like (entirely optional, but we do love fan mail).</p>

			{{ rsvp_form.message }}

			<p>Hit submit and we'll just see you when we see you!</p>

			<button type="submit" class="big-button">Submit</button>
		</form>

{% endblock %}

{% block scripts %}
<script>
APP.rsvp.ip = '24.19.107.104';
APP.rsvp.init();
</script>
{% endblock %}