{% extends "authed.html" %}
    
{% block content %}

	<h2>We have an all-star lineup</h2>

	<dl>
		<dt>Bridesmaids:</dt>
			<dd>Jennifer Sturwold (Maid of Honor)</dd>
			<dd>Elisabeth Quintero</dd>
			<dd>Kristin Romine</dd>
			<dd>Niki Frattini</dd>
			<dd>Amy Mandler</dd>

		<dt>Groomsmen:</dt>
			<dd>Patrick Culver (Best Man)</dd>
			<dd>Matthew Saffer</dd>
			<dd>Bob Polchow</dd>
			<dd>Jonathan Stalter</dd>
			<dd>Alex Staub</dd>
	</dl>

	<p>Presiding over festivities, our Mistress of Ceremonies <b>Sarah Marie Poe</b>.</p>

	

{% endblock %}