{% extends "authed.html" %}
    
{% block content %}

	<h2>Look at this all-star lineup!</h2>

	<dl class="party">
		<dt>Bridesmaids:</dt>
			<dd>Jennifer Sturwold <em>Maid of Honor</em></dd>
			<dd>Kristin Romine</dd>
			<dd>Elisabeth Quintero</dd>
			<dd>Niki Frattini</dd>
			<dd>Amy Mandler</dd>
	</dl>
	<dl class="party">

		<dt>Groomsmen:</dt>
			<dd>Patrick Culver <em>Best Man</em></dd>
			<dd>Matthew Saffer</dd>
			<dd>Bob Polchow</dd>
			<dd>Jonathan Stalter</dd>
			<dd>Alex Staub</dd>
	</dl>

	<p>Presiding over festivities, our Mistress of Ceremonies <b>Sarah Marie Poe</b>.</p>

	<h3>A couple more shout-outs while we're at it.</h3>

	<p>Decorations and visuals lovingly crafted by <b>Natasha Lawyer</b> and <b>Megan Gerhke</b>. They do
		great stuff and we're tickled to be working with them. <a href="http://littlepaperknots.blogspot.com"> Little Paper Knots</a>.</p>

	<p>Our insanely talented friend <b>Jaime Smialek</b> will be photographing the event.
		Check out her company <a href="http://ourampersandphoto.com">Our Ampersand</a>.</p>



{% endblock %}