{% extends "authed.html" %}
    
{% block content %}
	
	<h2>What to Expect</h2>
	<h3>The Wedding Itself</h3>
	<p>Oh boy. We have no idea really.</p>
	<p>We want to keep the ceremony very brief (and it will be a standing ceremony so feel free to keep us honest on that).</p>
	<p>It's happening beach side, which means you'll be able to hear the waves
		but won't have to trudge through the sand.</p>
		<h3>What Should I Wear?</h3>

		 <p> We'll be dressed fairly spiffy, but let's call it 'semi-formal beach attire.' The terrain will be grass and pebbles so choose your shoes accordingly (usually for ladies this means a flat or a wedge). The beach shelter's oversized fireplace will be roaring. Still, it would be wise to bring a jacket for the evening. </p>

	<h3>Bainbridge Island</h3>
	<p>Rated 2nd Best Place to Live in 2005.
	<h3>Greater Seattle Area</h3>
	<p>

{% endblock %}