{% extends "authed.html" %}
    
{% block content %}
	
	<h2>What to Expect</h2>
	<h3>The Wedding Itself</h3>
	<p>Oh boy. We have no idea really.</p>
	<p>We want to keep the ceremony very brief (and it will be a standing ceremony so feel
		free to keep us honest on that).</p>
	<p>It's happening beach side, which means you'll be able to hear the waves but
		won't have to trudge through the sand.</p>

	<h3>What Should I Wear?</h3>

	 <p>We'll be dressed fairly spiffy, but let's call it 'semi-formal beach attire.' The terrain will be grass and pebbles so choose your shoes accordingly (usually for ladies this means a flat or a wedge). The beach shelter's oversized fireplace will be roaring. Still, it would be wise to bring a jacket for the evening. </p>

	 <h3>What's on the Menu?</h3>
	 <p>A Northwest inspired feast will be served at or before 6pm. Drinks and appetizers will be available whilst photography is happening post ceremony. Wild Salmon is the main event, with some vegetarian sides, naturally.</p>

	 <h3>About the Park</h3>

		 

	<h3>Bainbridge Island</h3>
	<p>Rated 2nd Best Place to Live in 2005 by CNN. We've been super pleased with it but it's not
		for everybody. Things tend to close down earlier (there's a couple bars but not a ton).

	<h3>Greater Seattle Area</h3>
	<p>Nothing beats summertime in Seattle (ask around). The months of gray and infamous
		"rainy" weather give way to a lush, green, sunny outdoor party for about four months, June through September.
		So the obvious choice was to host this thing outside to celebrate it. The Farmer's Alamnac
		calls for 70's and sunshine which definitely works for us &mdash; though folks from the desert should
		consider bringing a jacket.</p>
	<p>Seattle's a heck of a city and there will be plenty going on (hiking, Pike Place Market,
		Mariners games, brewery tours, tons of great parks, good food, great cocktails, yes good coffee,
		ABSOLUTELY good karaoke, stop me any time) if you want to make an extended trip out of it.</p>


{% endblock %}