{% extends "authed.html" %}
    
{% block content %}
	
	<h2>What to Expect</h2>
	<h3>The Wedding Itself</h3>
	<p>Oh boy. We have no idea really.</p>
	<p>We want to keep the ceremony very brief. It's a standing ceremony &mdash; so feel
		free to keep us honest on that brief part! &mdash; but we'll have a handful of chairs
		ready for anyone who needs them.</p>
	<p>It's happening at the beach side shelter, which means you'll be able to hear the waves but
		won't have to trudge through the sand.</p>

	<h3>What Should I Wear?</h3>
	<p>We'll be dressed fairly spiffy, but let's call it 'semi-formal beach attire.' The terrain will be grass and pebbles so choose your shoes accordingly (usually for ladies this means a flat or a wedge). The beach shelter's oversized fireplace will be roaring. Still, it would be wise to bring a jacket for the evening. </p>

	<h3>What's on the Menu?</h3>
	<p>A Northwest inspired feast will be served at or before 6pm. Drinks and appetizers will be available whilst photography is happening post ceremony. Wild Salmon is the main event, with some vegetarian sides, naturally.</p>

	<h3>About Fay Bainbridge Park</h3>
	<p>It's super-charming; equal parts beautiful and no-frills. There's a playground and a public restroom (yeah, don't
		expect an attendant to be handing you paper towels). We're bringing the rest of the party with us.
		See more <a href="http://www.biparks.org/parksandfacilities/pkfaybainbridge.html">about Fay Bainbridge Park</a> on
		the BI Parks &amp; Rec site.</p>

	<h3>Bainbridge Island</h3>
	<p>Shoot, CNN rated it 2nd best place to live in 2005. It's been our home for the last six months
		and we've fallen in love with it. There's a small downtown and lots of local gems
		scattered around the island (<a href="http://pegasuscoffeehouse.com/">Pegasus Coffee Roasters!</a>
		<a href="http://www.bainbridgebeer.com/">Bainbrige Island Brewing!</a>
		<a href="http://www.bainbridgedistillers.com/">Bainbridge Organic Distillers!</a>
		<a href="http://www.bloedelreserve.org/">The Bloedel Reserve!</a> I could go on&hellip;).</p>

	<p>It's charming and laid back as you might expect from island life. It also shuts down a little early,
		around 10pm, which is about when our wedding celebrations will wrap up. Plan your hotel booking accordingly!</p>

	<h3>Seattle + surrounding areas</h3>
	<p>Nothing beats summertime in Seattle (ask around). The months of gray and infamous
		"rainy" weather give way to a lush, green, sunny outdoor party for about four months, June through September.
		So the obvious choice was to host this thing outside to celebrate it. The Farmer's Alamnac
		calls for 70's and sunshine which definitely works for us &mdash; though folks from the desert should
		consider bringing a jacket.</p>
	<p>Seattle's a heck of a city and there will be plenty going on (hiking, Pike Place Market,
		Mariners games, brewery tours, tons of great parks, good food, great cocktails, yes good coffee,
		ABSOLUTELY good karaoke, stop me any time) if you want to make an extended trip out of it.
		Please drop us a line about what you like to do and we'll get you some good recommendations
		on things to do and see while you're in the area.</p>


{% endblock %}